body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding:0px;
    margin:0px;
}

ul {
    display: flex;
    list-style-type: none;
}
ul li {
    display: flex;
    padding:20px;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color:black;
}


nav {
    display:flex;
    justify-content: space-between; 
    align-items:center;
}

.sacola{cursor:pointer;}
.banner{width:50%;}