* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    line-height: 1.6;
    background-color:rgb(255, 217, 170);
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

header h1 {
    font-size: 24px;
}

.logo {
    width: 150px; 
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.banner {
    background-color: rgb(134, 190, 255);
    padding: 60px 20px;
    text-align: center;
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product-item {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item h3 {
    margin: 10px 0;
    font-size: 20px;
}

.btn-add-cart {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn-add-cart:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}